*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --text-color: #fff;
  --title-text-color: #212121;
  --subtitle-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
  --footer-text-color: #fff;
  --primary-button-color: #f5f4fa;
  --text-button-color: #fff;
  --secondary-bg-color:#F5F4FA;
  --line-color: #ECECEC;
}
body {
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
